@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
  --primary-color: #626D63;
  --secondary-color: #B69E96;
  --hover: #A0A293;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: var(--primary-color);
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #B69E96;
}

.navbar h1 {
  color: var(--secondary-color);
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: var(--hover);
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #B69E96;
}

.blog-preview:hover {
  font-size: 18px;
}

img {
  max-width: 100%;
  margin: 30px auto;
}

