@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
  --primary-color: #626D63;
  --secondary-color: #B69E96;
  --hover: #A0A293;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: var(--primary-color);
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #B69E96;
}

.navbar h1 {
  color: var(--secondary-color);
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: var(--hover);
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #B69E96;
}

.blog-preview h2 {
  color: var(--secondary-color);

}

.blog-preview:hover {
  font-size: 18px;
}

img {
  max-width: 100%;
  margin: 30px auto;
}

.blog-preview a {
  text-decoration: none;
}

/* blog details page */

.blog-details h2 {
font-size:  30px;
color: var(--secondary-color);
margin-bottom: 10px;
}

.blog-details p {
  font-size: 12px;
}

.blog-details div {
  margin: 50px auto;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #626D63;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: var(--primary-color);
  color: #fff;
  border: 0px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* .blog-details button {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 0px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
} */